.conditions{
    padding-top: 90px;
    padding-bottom: 90px;
    background: #E5E5E5;
    &__title{
        font-weight: 700;
        font-size: 36px;
        color: $text-color;
        text-align: center;
    }
    &__subtitle{
        color: $bc;
    }
    &__descr{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__item{
        width: 560px;
        height: 180px;
        background: #FFFFFF;
        box-shadow: 0px 16px 80px rgba(0, 0, 0, 0.07), 0px 6.68442px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 3.57381px 17.869px rgba(0, 0, 0, 0.0417275), 0px 2.00345px 10.0172px rgba(0, 0, 0, 0.035), 0px 1.06402px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.442761px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 10px;
        margin-top: 30px;
        z-index: 2;
    }
    &__text{
        padding-top: 70px;
        padding-left: 80px;
        font-size: 20px;
        color: $text-color;
    }
    &__number{
        font-weight: 600;
        font-size: 102px;
        color: rgba(255, 219, 72, 0.25);
        position: absolute;
        padding-left: 20px;
        padding-top: 7px;
    }
    &__warning{
        padding-top: 85px;
        width: 1040px;
        height: 135px;
        background: #FFDB48;
        border-radius: 10px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 155%;
        color: $text-color;
        text-align: center;
        background-image: url("../img/warning.svg");
        background-repeat: no-repeat;
        background-position: 75px 100px;
        position: relative;
        top: -50px;
        z-index: 1;
    }
}