.header{
    padding-top: 30px;
    padding-bottom: 40px;
    background: url("../img/header-bg.png") top right;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    &__info{
        max-width: 670px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tel-block{
        display: flex;
        flex-direction: column;
    }
    &__company{
        display: flex;
        flex-direction: row;
    }
    &__logo{
        margin-right: 30px;
    }
    &__descr-company{
        font-size: 14px;
        line-height: 155%;
        color: $text-color;
    }
    &__tel{
        font-weight: 600;
        font-size: 20px;
        color: $text-color;
        text-decoration: none;
    }
    &__tel-order{
        font-size: 14px;
        text-decoration-line: underline;
        color: $text-color;
        text-align: center;
        margin-top: 6px;
    }

    &__title{
        max-width: 802px;
        font-weight: 700;
        font-size: 38px;
        line-height: 120%;
        color: $text-color;
        margin-top: 40px;
    }
    &__subtitle{
        color: $bc;
    }
    &__descr{
        max-width: 500px;
        font-size: 20px;
        line-height: 155%;
        color: $text-color;
    }

    &__advantages{
        margin-top: 40px;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        min-width: 174px;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 155%;
        color: $text-color;
    }
    &__point{
        display: flex;
        align-items: center;
    }
    &__icon-1{
        width: 22px;
        height: 22px;
        background-image: url("../img/header-icon-1.svg");
    }
    &__icon-2{
        width: 22px;
        height: 22px;
        background-image: url("../img/header-icon-2.svg");
    }
    &__icon-3{
        width: 22px;
        height: 22px;
        background-image: url("../img/header-icon-3.svg");
    }
    &__icon-4{
        width: 22px;
        height: 22px;
        background-image: url("../img/header-icon-4.svg");
    }

    &__vacation{
        margin-top: 85px;
        max-width: 427px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-text{
            font-size: 14px;
            line-height: 155%;
            text-align: center;
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            height: 75px;
            max-width: 427px;
            background-color: #41B619;
            border-radius: 100px;
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
            text-decoration: none;
            &:hover{
                background: #269001;
                transition: 0.7s;
            }
        }
        &-info{
            display: flex;
            justify-content: center;
        }
    }
    &__arrow{
        width: 50px;
        height: 50px;
        background-image: url("../img/header-arrow.svg");
        background-repeat: no-repeat;
        margin-left: 5px;
        transform: translateY(10px);
    }
    
}
.modal {
        position: fixed;
        visibility: hidden;
        top: -1000px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        padding: 60px 15px;
      }
       
      .modal__content {
        min-height: 720px;
        position: relative;
      }
      .modal_active {
        position: fixed;
        top: -200px;
        visibility: visible;
        opacity: 1;
        transition: all 0.9s ease;
      }